header{
  display: flex;
  justify-content: space-around;
}

form{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 60px;
}

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.gender-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input{

}